
Blank Project/x64/Debug/Coursework.exe.recipe
*.tlog
Blank Project/x64/Debug/Coursework.tlog/Coursework.lastbuildstate
*.lastbuildstate
*.vsidx
Blank Project/x64/Debug/vc143.pdb
Blank Project/x64/Debug/Renderer.obj
Blank Project/x64/Debug/vc143.idb
x64/Debug/Coursework.exe
x64/Debug/Coursework.pdb
Blank Project/x64/Debug/Coursework.ilk
.vs/GraphicsTutorials/v17/.suo
.vs/GraphicsTutorials/v17/Solution.VC.db
.vs/GraphicsTutorials/v17/ipch/AutoPCH/af720b76748d195d/RENDERER.ipch
.vs/GraphicsTutorials/FileContentIndex/9710c92a-df52-4efb-be4c-0a3923955719.vsidx
.vs/GraphicsTutorials/FileContentIndex/de5ac39e-42a3-4feb-9c02-4c843485c995.vsidx
.vs/GraphicsTutorials/v17/Browse.VC.db
.vs/GraphicsTutorials/v17/Solution.VC.db
Blank Project/x64/Debug/BlankProject.log
Blank Project/x64/Debug/Coursework.exe.recipe
Blank Project/x64/Debug/Coursework.ilk
Blank Project/x64/Debug/Coursework.obj
Blank Project/x64/Debug/Coursework.tlog/CL.command.1.tlog
Blank Project/x64/Debug/Coursework.tlog/Cl.items.tlog
Blank Project/x64/Debug/Coursework.tlog/CL.read.1.tlog
Blank Project/x64/Debug/Coursework.tlog/CL.write.1.tlog
Blank Project/x64/Debug/Coursework.tlog/Coursework.lastbuildstate
Blank Project/x64/Debug/Coursework.tlog/link.command.1.tlog
Blank Project/x64/Debug/Coursework.tlog/link.read.1.tlog
Blank Project/x64/Debug/Renderer.obj
Blank Project/x64/Debug/Coursework.tlog/link.write.1.tlog
Blank Project/x64/Debug/vc143.idb
Blank Project/x64/Debug/vc143.pdb
x64/Debug/Coursework.exe
x64/Debug/Coursework.pdb
